<div class="d-flex justify-content-between p-3">
    <div class="d-flex align-items-center">
        รายได้ของคุณ {{ salary | number: '1.2-2' }} บาท , บันทึก : {{ note }}
    </div>
    <div>
        <button *ngIf="userFlag === 'N'" type="button" class="btn btn-blue" (click)="openTemplateModal()">
            Add Income
        </button>
        <button *ngIf="userFlag === 'Y'" type="button" class="btn btn-red" (click)="openTemplateModal()">
            Edit Income
        </button>
    </div>
</div>

<ng-template #templateModal>
    <div>
        <app-modal-income (closeModalEmit)="closeModalEvent($event)" [addIncomeData]="addIncomeResponse" [typeUser]="typeUser"></app-modal-income>
    </div>
</ng-template>
