<div class="d-flex justify-content-between p-3">
    <div class="d-flex align-items-center">
        รายได้ของคุณ {{ salary | number: '1.2-2' }} บาท , บันทึก : {{ note }}
    </div>
    <div>
        <button type="button" class="btn" [ngClass]="recentStatus === 'Add' ? 'btn-blue':'btn-red'" (click)="openModal()">
            <span *ngIf="recentStatus === 'Add'">Add Income</span>
            <span *ngIf="recentStatus === 'Edit'">Edit Income</span>
        </button>
    </div>
</div>

<ng-template #templateModal>
    <div>
        <app-modal-income (closeModalEmit)="closeModalEvent($event)" [addIncomeData]="addIncomeResponse"></app-modal-income>
    </div>
</ng-template>