.bg-color {
  padding: 0 8px;
  border: 1px solid #b6d6e4;
  border-radius: 3px;
  background-color: #c5e8f7;
  border-left: 4px solid #b6d6e4;
  div {
    color: #2c7ea1;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
