<div class="container py-5">
      <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header">
              <h3 class="mb-0" >Login With Google</h3>
          </div>
          <div class="card-body">
              <div class="col-md-6 mx-auto">
                <button   type="button" class="btn btn-green col-12"  (click)="socialSignIn('google')">Sign in with Google</button>             
              </div>
          </div>
        </div>
      </div>
</div>
