<div>
  <table class="table table-hover">
    <thead class="text-center">
      <th class="text-left">ชื่อ-สกุล(อังกฤษ)</th>
      <th class="text-left">E-mail</th>
      <th class="text-left">ชื่อ-สกุล(ไทย)</th>
      <th class="text-left">ชื่อบัญชี</th>
      <th class="text-right">เลขที่บัญชี</th>
      <th class="text-left">วันที่กรอก</th>
      <th class="text-center">สถานะ</th>
    </thead>
    <tbody>
      <tr >
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>