.breadcrumb {
    padding: 0 0;
    font-size: 14px;
    color: #8b909d;
    margin: 0;
    background-color: white;
  
    a,
    span {
      font-size: inherit;
      color: #8b909d;
    }
  
    .active {
      color: #737881;
      font-weight: bold;
    }
    .breadcrumb-link:hover{
      color: #373e4a;
      text-decoration: none;
    }
  }