<div class="row d-flex" *ngIf="checkPath()">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="card col-lg-4 col-md-4 col-sm-6 mx-3 mb-3" *ngFor="let site of sites; let i = index" (click)="gotoUserListSite(site.users,site.name)">
      <div class="card-body text-center">
        <span class="card-title link-text">{{ site.name }}</span>
        <p class="card-text">Total : {{ site.length }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!checkPath()">
  <app-table-list-user-by-site></app-table-list-user-by-site>
</div>