  .link-text {
      color: #00a499;
      font-size: 30px;
  }

  .site-item {
      cursor: pointer;
      position: relative;
  }

  .site-item:hover {
      background-color: #eee;
  }

  .site-actions {
      position: absolute;
      top: 4px;
      right: 4px;
  }

  .site-actions a {
      color: #666;
      text-decoration: none;
  }

  .site-actions a:hover {
      color: #00a499;
  }
