<div class="d-flex p-3" *ngIf="role !== 'admin'">
  <div class="w-100 pr-3 salary" id="salary">
    รายได้สุทธิของคุณ {{ salary | number: '1.2-2' }} บาท
    <br>บันทึก : {{ note }}
  </div>
  <div class="flex-shrink-1">
    <button id="btn-add" *ngIf="userFlag === 'Y'" type="button" class="btn btn-blue" (click)="openTemplateModal()">
      Add Income
    </button>
    <button id="btn-edit" *ngIf="userFlag === 'N'" type="button" class="btn btn-red" (click)="openTemplateModal()">
      Edit Income
    </button>
  </div>
</div>

<ng-template #templateModal>
  <div>
    <app-modal-income (addIncomeEmit)="addIncomeEmit($event)" (closeModalEmit)="closeModalEvent($event)"
      [addIncomeData]="addIncomeResponse" [typeUser]="typeUser" [typeVat]="typeVat"></app-modal-income>
  </div>
</ng-template>