<div>
  <div class="d-flex py-2">
    <h2>{{date | date: 'MMMM yyyy'}}</h2>
  </div>
  <table class="table table-hover">
    <thead class="text-center">
      <th class="text-left pl-4">ชื่อ-สกุล(อังกฤษ)</th>
      <th class="text-left">E-mail</th>
      <th class="text-left">ชื่อบัญชี</th>
      <th class="text-center">เลขที่บัญชี</th>
      <th class="text-left">วันที่กรอก</th>
      <th class="text-center">สถานะ</th>
    </thead>
    <tbody>
      <tr *ngFor="let listIncome of listIncome">
        <td class="text-left pl-4">{{listIncome.user?.fullnameEn}}</td>
        <td class="text-left">{{listIncome.user?.email}}</td>
        <td class="text-left">{{listIncome.user?.bankAccountName}}</td>
        <td class="text-center">{{listIncome.user?.bankAccountNumber}}</td>
        <td class="text-left">{{listIncome?.submitDate == ''? '-' :  listIncome?.submitDate | date:'dd/MM/yyyy'}}</td>
        <td class="text-center" appStatusHighlight [Status]='listIncome?.status'>
          {{listIncome?.status === 'Y'? 'กรอกแล้ว' : 'ยังไม่ได้กรอก'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>