.panel {
    width: 250px;
    height: 65px;
    border: 2px solid #00A651;
    border-radius: 5px;	
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 1%;
    i{
        font-size: 28px;
        color: #00A651;
        padding-right: 15px;
    }
    span{
        font-size: 18px;
    }
}