<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ 'MODAL.CONFIRM_INCOME.HEADER' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="detail py-3" >
    <b>รายละเอียด</b>
  </div>
  <div class="row">
    <div class="col-6">{{ 'MODAL.CONFIRM_INCOME.NET_INCOME' | translate}}</div>
    <div class="col-6">{{ incomeModel.netIncome | number: '1.2-2' }}</div>
    <div class="col-6">{{ 'MODAL.CONFIRM_INCOME.VAT' | translate}}</div>
    <div class="col-6">{{ incomeModel.vat | number: '1.2-2' }}</div>
    <div class="col-6">{{ 'MODAL.CONFIRM_INCOME.WHT' | translate}}</div>
    <div class="col-6">{{ incomeModel.wht | number: '1.2-2' }}</div>
    <div class="col-6">{{ 'MODAL.CONFIRM_INCOME.TOTAL_INCOME' | translate}}</div>
    <div class="col-6">{{ incomeModel.totalIncome | number: '1.2-2'}}</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="button-red" (click)="onCancelPress()">{{ 'MODAL.CONFIRM_INCOME.CANCEL' | translate}}</button>
    <button type="button" class="button-blue" (click)="onConfirmPress()">{{ 'MODAL.CONFIRM_INCOME.CONFIRM' | translate}}</button>
  </div>