.modal-footer {
    button {
        width: 130px;
        height: 40px;
        background: #21A9E1;
        border-color: #21A9E1;
        border-radius: 8px;
    }
}

.detail {
    text-align: center;
    b {
        font-size: 18px;
        padding-bottom: 24px;
    }
}

div .col-6 {
    text-align: center;
    padding-bottom: 16px;
}