.modal-footer {
    button {
        width: 130px;
        height: 40px;
        border-radius: 8px;
        color: white;
    }

    .button-blue {
        background-color: #21A9E1;
        border-color: #21A9E1;
    }

    .button-red {
        background-color: #FF0000;
        border-color: #FF0000;
    }
}

.detail {
    text-align: center;
    b {
        font-size: 18px;
        padding-bottom: 24px;
    }
}

div .col-6 {
    text-align: center;
    padding-bottom: 16px;
}