<div>
  <div *ngIf="showSuccessMessage">
    <app-message-tooltip></app-message-tooltip>
  </div>
  <div class="container">
    <div class="edit-other-banner" *ngIf="isEditingOther">
      <a href="javascript:void(0)" (click)="backToUsers()">กลับไป Users</a>
      <h5 class="mt-2" *ngIf="userInfo">
        กำลังแก้ไขโปรไฟล์ของ {{ userInfo.firstName }} {{ userInfo.lastName }}
      </h5>
    </div>
    <form [formGroup]="fileForm">
      <div class="row">
        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload Transcript</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="isEditingOther || (userInfo && userInfo.transcript)">
                <button class="btn button-upload" type="button">
                  Choose file...
                </button>
                <input
                  formControlName="transcriptFile"
                  type="file"
                  accept="application/pdf"
                  (change)="onChangeTranscriptFile($event)"
                />
              </span>
              <span [hidden]="!(userInfo && userInfo.transcript)">
                <button
                  class="btn button-download"
                  type="button"
                  (click)="onDownload('transcript')"
                >
                  Download
                </button>
                <button
                  class="btn button-remove"
                  type="button"
                  *ngIf="!isEditingOther"
                  (click)="onRemove('transcript')"
                >
                  Remove
                </button>
              </span>
              <span
                class="avatar-file-name prepend-left-default"
                *ngIf="!(userInfo && userInfo.transcript)"
              >
                {{ getTranscriptFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">
            The maximum file size allowed is 200KB.
          </div>
        </div>

        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload new avatar</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="isEditingOther || (userInfo && userInfo.imageProfile)">
                <button class="btn button-upload" type="button">
                  Choose file...
                </button>
                <input
                  formControlName="imageFile"
                  type="file"
                  accept="image/x-png,image/gif,image/jpeg"
                  (change)="onChangeImageFile($event)"
                />
              </span>
              <span [hidden]="!(userInfo && userInfo.imageProfile)">
                <button
                  class="btn button-download"
                  type="button"
                  (click)="onDownload('image')"
                >
                  Download
                </button>
                <button
                  class="btn button-remove"
                  type="button"
                  *ngIf="!isEditingOther"
                  (click)="onRemove('image')"
                >
                  Remove
                </button>
              </span>
              <span
                class="avatar-file-name prepend-left-default"
                *ngIf="!(userInfo && userInfo.imageProfile)"
              >
                {{ getImageFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">
            The maximum file size allowed is 200KB.
          </div>
        </div>

        <div class="col-lg-6 margin-upload">
          <h5 class="prepend-top-0">Upload Degree Certificate</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="isEditingOther || (userInfo && userInfo.degreeCertificate)">
                <button class="btn button-upload" type="button">
                  Choose file...
                </button>
                <input
                  formControlName="degreeCertificateFile"
                  type="file"
                  accept="application/pdf"
                  (change)="onChangeDegreeCertificateFile($event)"
                />
              </span>
              <span [hidden]="!(userInfo && userInfo.degreeCertificate)">
                <button
                  class="btn button-download"
                  type="button"
                  (click)="onDownload('degreecertificate')"
                >
                  Download
                </button>
                <button
                  class="btn button-remove"
                  type="button"
                  *ngIf="!isEditingOther"
                  (click)="onRemove('degreecertificate')"
                >
                  Remove
                </button>
              </span>
              <span
                class="avatar-file-name prepend-left-default"
                *ngIf="!(userInfo && userInfo.degreeCertificate)"
              >
                {{ getDegreeCertificateFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">
            The maximum file size allowed is 200KB.
          </div>
        </div>

        <div class="col-lg-6 margin-upload">
          <h5 class="prepend-top-0">Upload ID Card</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="isEditingOther || (userInfo && userInfo.idCard)">
                <button class="btn button-upload" type="button">
                  Choose file...
                </button>
                <input
                  formControlName="idCardFile"
                  type="file"
                  accept="application/pdf"
                  (change)="onChangeIdCardFile($event)"
                />
              </span>
              <span [hidden]="!(userInfo && userInfo.idCard)">
                <button
                  class="btn button-download"
                  type="button"
                  (click)="onDownload('idcard')"
                >
                  Download
                </button>
                <button
                  class="btn button-remove"
                  type="button"
                  *ngIf="!isEditingOther"
                  (click)="onRemove('idcard')"
                >
                  Remove
                </button>
              </span>
              <span
                class="avatar-file-name prepend-left-default"
                *ngIf="!(userInfo && userInfo.idCard)"
              >
                {{ getIdCardFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">
            The maximum file size allowed is 200KB.
          </div>
        </div>
      </div>
      <hr />
    </form>

    <form class="edit-user prepend-top-default" [formGroup]="profileForm">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.firstName.invalid &&
                    profileForm.controls.firstName.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.firstName.invalid &&
                  profileForm.controls.firstName.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกชื่อ</label
                >
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.lastName.invalid &&
                    profileForm.controls.lastName.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.lastName.invalid &&
                  profileForm.controls.lastName.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกนามสกุล</label
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input
                class="form-control"
                type="text"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.email.invalid &&
                    profileForm.controls.email.touched
                }"
              />
              <small *ngIf="isEditingOther" class="form-text text-muted">
                Email ต้องตรงกับบัญชี Keycloak ของ user เพื่อให้ login ได้
              </small>
              <div
                *ngIf="
                  profileForm.controls.email.invalid &&
                  profileForm.controls.email.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอก email ให้ถูกต้อง</label
                >
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Peak Code</label>
              <input class="form-control" type="text" formControlName="peakCode" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Bank Account Name</label>
              <input
                class="form-control"
                type="text"
                formControlName="bankAccount"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.bankAccount.invalid &&
                    profileForm.controls.bankAccount.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.bankAccount.invalid &&
                  profileForm.controls.bankAccount.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกชื่อบัญชี</label
                >
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Bank Account Number (ต้องเป็นบัญชี TTB เท่านั้น)</label>
              <input
                class="form-control"
                type="text"
                formControlName="bankAccountNumber"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.bankAccountNumber.invalid &&
                    profileForm.controls.bankAccountNumber.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.bankAccountNumber.invalid &&
                  profileForm.controls.bankAccountNumber.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกเลขบัญชี</label
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Site</label>
              <app-drop-down
                [defaultSelect]="site"
                [listSources]="dataListSite"
                (emitSource)="getEmitSourceSite($event)"
              ></app-drop-down>
            </div>
            <div class="form-group col-md-6">
              <label>Project or team</label>
              <input
                class="form-control"
                type="text"
                formControlName="project"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>เงินรายวันที่ได้</label>
              <input
                class="form-control"
                type="text"
                formControlName="dailyIncome"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.dailyIncome.invalid &&
                    profileForm.controls.dailyIncome.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.dailyIncome.invalid &&
                  profileForm.controls.dailyIncome.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกเงินรายวันที่ได้</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>Address</label>
              <textarea
                class="form-control"
                id="address"
                name="address"
                placeholder="ที่อยู่ปัจจุบัน"
                formControlName="address"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.address.invalid &&
                    profileForm.controls.address.touched
                }"
              ></textarea>
              <div
                *ngIf="
                  profileForm.controls.address.invalid &&
                  profileForm.controls.address.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกที่อยู่</label
                >
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Start WorkingDate</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  formControlName="startDate"
                  ngbDatepicker
                  readonly="true"
                  [ngClass]="{
                    'is-invalid':
                      profileForm.controls.startDate.invalid &&
                      profileForm.controls.startDate.touched
                  }"
                  #d="ngbDatepicker"
                />
                <span
                  class="input-group-text fa fa-calendar cursor-pointer"
                  id="basic-addon2"
                  (click)="d.toggle()"
                ></span>
              </div>
              <div
                *ngIf="
                  profileForm.controls.startDate.invalid &&
                  profileForm.controls.startDate.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกวันเริ่มต้นวันทำงานของคุณ</label
                >
              </div>
            </div>

            <div class="form-group col-md-6">
              <label
                >VAT
                <a
                  href="https://www.rd.go.th/fileadmin/user_upload/SMEs/infographic/SME_lv1_3.pdf"
                  target="_blank"
                  >(ถ้ารายได้เกิน 1.8 ล้าน/ปี จงอ่านเพิ่มเติม)</a
                ></label
              >
              <div class="checkbox custom-control-inline radio-container" [ngClass]="{'checked': vat.value === 'Y'}">
                <input type="radio" value="Y" id="Y" formControlName="vat" />
                <label class="radio-label" for="Y">
                  <h6>vat</h6>
                  <p>
                    สำหรับบุคคลหรือธุรกิจที่มีการจดทะเบียนภาษี เช่น บริษัท หรือ
                    ห้างหุ้นส่วนสามัญ
                  </p>
                </label>
              </div>
              <div class="checkbox custom-control-inline radio-container" [ngClass]="{'checked': vat.value === 'N'}">
                <input type="radio" value="N" id="N" formControlName="vat" />
                <label class="radio-label" for="N">
                  <h6>non-vat</h6>
                  <p>สำหรับบุคคลที่ไม่มีการจดทะเบียนภาษี เช่น บุคคลธรรมดา</p>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>ThaiCitizenId</label>
              <input
                class="form-control"
                id="thaiCitizenId"
                name="thaiCitizenId"
                placeholder="เลขบัตรประจำตัวบัตรประชาชน"
                formControlName="thaiCitizenId"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.thaiCitizenId.invalid &&
                    profileForm.controls.thaiCitizenId.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.thaiCitizenId.errors?.required &&
                  profileForm.controls.thaiCitizenId.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกเลขบัตรประชาชน</label
                >
              </div>
              <div *ngIf="profileForm.controls.thaiCitizenId.errors?.pattern">
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกเลขบัตรประชาชนให้ครบ 13 หลัก</label
                >
              </div>
              <div *ngIf="profileForm.controls.thaiCitizenId.errors?.checkSum">
                <label class="col-form-label" style="color: red">{{
                  thaiCitizenId.errors?.checkSum.message
                }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>Phone</label>
              <input
                class="form-control"
                id="phone"
                name="phone"
                placeholder="เบอร์โทรศัพท์"
                formControlName="phone"
                [ngClass]="{
                  'is-invalid':
                    profileForm.controls.phone.invalid &&
                    profileForm.controls.phone.touched
                }"
              />
              <div
                *ngIf="
                  profileForm.controls.phone.errors?.required &&
                  profileForm.controls.phone.touched
                "
              >
                <label class="col-form-label" style="color: red"
                  >กรุณากรอกเบอร์โทรศัพท์</label
                >
              </div>
            </div>
          </div>

          <hr />
          <div class="prepend-top-default append-bottom-default inner">
            <button class="btn button-green" (click)="updateData()">
              Update
            </button>
            <button class="btn" (click)="onReset()" style="float: right">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #incomeReminderModal>
  <div class="modal-header">
    <h4 class="modal-title">เตือนเรื่องรายได้</h4>
    <button
      type="button"
      class="close btn-close"
      aria-label="Close"
      (click)="closeIncomeReminder()"
    ></button>
  </div>
  <div class="modal-body">
    <p>การคำนวน income เกิดขึ้นตอนกรอกรายได้</p>
    <p>ถ้าเปลี่ยนแปลงข้อมูลเกี่ยวกับรายได้ อย่าลืมไป update รายได้ใหม่นะ</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn button-green"
      (click)="closeIncomeReminder()"
    >
      รับทราบ
    </button>
  </div>
</ng-template>
