<div>
  <div *ngIf="showSuccessMessage">
    <app-message-tooltip></app-message-tooltip>
  </div>
  <div class="container">
    <form [formGroup]="fileForm">
      <div class="row">

        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload Transcript</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="(userInfo && userInfo.transcript)">
                <button class="btn" type="button">
                  Choose file...
                </button>
                <input formControlName="transcriptFile" type="file" accept="application/pdf"
                  (change)="onChangeTranscriptFile($event)" />
              </span>
              <span [hidden]="!(userInfo && userInfo.transcript)">
                <button class="btn button-download" type="button" (click)="onDownload('transcript')">
                  Download
                </button>
                <button class="btn button-remove" type="button" (click)="onRemove('transcript')">
                  Remove
                </button>
              </span>
              <span class="avatar-file-name prepend-left-default" *ngIf="!(userInfo && userInfo.transcript)">
                {{ getTranscriptFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
        </div>

        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload new avatar</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <span [hidden]="(userInfo && userInfo.imageProfile)">
                <button class="btn" type="button">
                  Choose file...
                </button>
                <input formControlName="imageFile" type="file" accept="image/x-png,image/gif,image/jpeg"
                  (change)="onChangeImageFile($event)" />
              </span>
              <span [hidden]="!(userInfo && userInfo.imageProfile)">
                <button class="btn button-download" type="button" (click)="onDownload('image')">
                  Download
                </button>
                <button class="btn button-remove" type="button" (click)="onRemove('image')">
                  Remove
                </button>
              </span>
              <span class="avatar-file-name prepend-left-default" *ngIf="!(userInfo && userInfo.imageProfile)">
                {{ getImageFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
        </div>

      </div>
      <hr>
    </form>

    <form class="edit-user prepend-top-default" [formGroup]="profileForm">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row" *ngIf="isCorporate">
            <div class="form-group col-md-12">
              <label>Corporate Name</label>
              <input class="form-control" type="text" formControlName="corporateName">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="firstName">
            </div>

            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="lastName">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input class="form-control" type="text" formControlName="email">
            </div>
            <div class="form-group col-md-6">
              <label>Slack Account</label>
              <input class="form-control" type="text" formControlName="slackAccount">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Bank Account Name</label>
              <input class="form-control" type="text" formControlName="bankAccount">
            </div>
            <div class="form-group col-md-6">
              <label>Bank Account Number</label>
              <input class="form-control" type="text" formControlName="bankAccountNumber">
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label>Site</label>
              <app-drop-down [defaultSelect]="site" [listSources]="dataListSite"
                (emitSource)="getEmitSourceSite($event)"></app-drop-down>
            </div>
            <div class="form-group col-md-6">
              <label>Project or team</label>
              <input class="form-control" type="text" formControlName="project">
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label>เงินรายวันที่ได้</label>
              <input class="form-control" type="text" formControlName="dailyIncome">
            </div>

            <div class="form-group col-md-6">
              <label>Person Type</label>
              <app-drop-down [defaultSelect]="personType" [listSources]="listPersonType"
                (emitSource)="getEmitSourcePersonType($event)"></app-drop-down>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-6">
              <label>Address</label>
              <textarea class="form-control" id="address" name="address" placeholder="ที่อยู่ปัจจุบัน"
                formControlName="address"></textarea>
            </div>

            <div class="row" *ngIf="userInfo && isCorporate">
              <div class="form-group col-md-12 pl-5 ">
                <label>VAT</label><br>
                <div class="checkbox custom-control-inline" *ngFor="let item of vatList">
                  <label><input type="checkbox" [checked]="item.value" (change)="onCheckBoxVat(item.name ,$event)">
                    {{item.name}}</label>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="prepend-top-default append-bottom-default inner">
            <button class="btn button-green" (click)="updateData()">Update</button>
            <button class="btn" (click)="onReset()" style="float: right;">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>