.bg-color {
    padding: 0 8px;
    border: 1px solid #b6d6e4;
    border-radius: 3px;
    background-color: #c5e8f7;
    border-left: 4px solid #b6d6e4;
    div {
      color: #2c7ea1;
    }
}

.detail {
  padding-bottom: 8px!important;
  strong {
      font-size: 20px;
  }
}

.col {
  padding: 8px 0;
}

.border-total {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}