<form [formGroup]="firstLogin"> 
<div class="wrapper">
  <div class="col-md-4 mx-auto">
    <div class="card rounded-0 shadow">
      <div class="d-flex justify-content-center pt-4 pb-2">
       <h3>ข้อมูลส่วนตัว</h3>
      </div>
      <div class="d-flex flex-column align-items-center px-3">
        <div class="form-group col-10">
          <label for="FullNAme">ชื่อ :</label>
          <input id="FullNAme" class="form-control" placeholder="กรุณากรอกชื่อ" type="text" formControlName="fullName" />
        </div>

        <div class="form-group col-10">
          <label for="bankAccountName">ชื่อบัญชี :</label>
          <input id="bankAccountName" class="form-control" placeholder="กรุณากรอกชื่อบัญชี" type="text" formControlName="bankAccountName" />
        </div>

        <div class="form-group col-10">
          <label for="bankAccountNumber">เลขที่บัญชี :</label>
          <input id="bankAccountNumber" class="form-control" placeholder="กรุณากรอกเลขที่บัญชี" type="text" formControlName="bankAccountNumber"/>
        </div>

        <div class="col-10 pb-3">
          <div>ประเภทบุคคล :</div>
            <div class="d-flex justify-content-start">
              <div class="checkbox col-auto" *ngFor="let corporate of corporateFlag">
                  <label><input type="checkbox" [checked]="corporate.value" (change)="onCheckBoxCorporateFlag(corporate.name ,$event)" formControlName="corporateFlag"> {{corporate.name}}</label>
                </div>
          </div>
        </div>
        <div class="col-10 pb-3">
          <div>Select Vat :</div>
              <div class="d-flex justify-content-start">
                <div class="checkbox col-auto" *ngFor="let vat of vatList">
                    <label><input type="checkbox" [checked]="vat.value" (change)="onCheckBoxVat(vat.name ,$event)" formControlName="vat"> {{vat.name}}</label>
                  </div>
            </div>
          </div>
        <div class="form-group text-right col-10">
            <button type="button" class="btn btn-blue" (click)="submit()" >Save</button>
          </div>
      </div>
    </div>
  </div>
</div>
</form>
