<div>
  <div class="d-flex py-2">
    {{date | date: 'MMMM yyyy'}}
  </div>
  <table class="table table-income">
    <thead>
      <th class="text-center">ชื่อ-สกุล(อังกฤษ)</th>
      <th class="text-center">E-mail</th>
      <th class="text-center">ชื่อ-สกุล(ไทย)</th>
      <th class="text-center">ชื่อบัญชี</th>
      <th class="text-center">เลขที่บัญชี</th>
      <th class="text-center"></th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center"></td>
        <td class="text-center">
          <button type="button" class="btn btn-primary">Status</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center"></td>
        <td class="text-center">
            <button type="button" class="btn btn-primary">Status</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>