table {
    background-color: transparent;
  th {
    background-color: #f5f5f6;
    border-bottom-width: 0px;
    color: #a6a7aa;
    font-weight: normal;
  }

  td {
  
  }

  th:nth-child(6) {
    width: 120px;
  }
}
