<div>
  <div class="d-flex py-4">
    <h2>{{date | date: 'MMMM yyyy'}}</h2>
    <div class="btn-income">
        <app-add-income></app-add-income>
    </div>
  </div>
  <table class="table table-hover table-borderless">
    <thead class="text-center">
      <th>ชื่อ-สกุล(อังกฤษ)</th>
      <th>E-mail</th>
      <th>ชื่อ-สกุล(ไทย)</th>
      <th>ชื่อบัญชี</th>
      <th>เลขที่บัญชี</th>
      <th>วันที่</th>
      <th>สถานะ</th>
    </thead>
    <tbody>
      <tr *ngFor="let listIncome of usersInfo">
        <td class="text-left">{{listIncome?.fullName}}</td>
        <td class="text-left">{{listIncome?.email}}</td>
        <td class="text-left">{{listIncome?.fullName}}</td>
        <td class="text-left">{{listIncome?.bankAccountName}}</td>
        <td class="text-right">{{listIncome?.bankAccountNumber}}</td>
        <td class="text-left">{{listIncome?.submitDate | date}}</td>
        <td class="text-center" appStatusHighlight [Status]='listIncome?.status'>
          {{listIncome?.status === 'Y'? 'กรอกแล้ว' : 'ยังไม่กรอก'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>