<div class="wrapper">
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card rounded-0 shadow">
      <div class="text-center pt-3">
        <img class="logo" src="assets/images/odds_logo_color.png" />
      </div>
      <div class="d-flex justify-content-center">
        <h3 class="mb-0">Sign in</h3>
      </div>
      <div class="d-flex flex-column align-items-center p-3">
        <div class="form-group text-center col-10">
          <asl-google-signin-button type='standard'></asl-google-signin-button>
        </div>
      </div>
    </div>
  </div>
</div>