<div>
  <h5 class="mt-2 ms-2">Reminder</h5>
  <div class="card-container p-3">
    <form [formGroup]="fg">
      <div class="row">
        <div class="col-3 d-flex justify-content-end">
          Date:
        </div>
        <div class="col-3">
            <div class="form-group">

          <div class="input-group">
            <input class="form-control" type="text" formControlName="date" placeholder="เลือกวันที่"
            ngbDatepicker #d="ngbDatepicker" readonly="true"/>
             <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"> <i class="fa fa-calendar"></i></button>
              </div>     
          </div>
        </div>
        </div>
      </div>
          <div class="row mt-2">
            <div class="col-3 d-flex justify-content-end">
              Time:
            </div>
            <div class="col-9">
              <input type="text" id="time" formControlName="time" class="form-control">
            </div>
          </div>
      <div class="row mt-2">
        <div class="col-3 d-flex justify-content-end">
          Message:
        </div>
        <div class="col-9">
          <textarea name="message" class="form-control" id="message" formControlName="message"></textarea>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 d-flex justify-content-end">
          Channel:
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-start">
            <div *ngFor="let channel of channelList" class="pr-2">
              <input type="checkbox" formControlName="channel" [checked]="channel.value" (change)="checkBoxEvent(channel.name, $event)"
                [id]="'channel' + channel.name"> {{channel.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-end">
          <button id="submitButton" class="btn btn-blue" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


