<div>
  <img src="assets/images/odds_logo_white.png">
</div>
<ul class="tab-without-padding">
  <li [ngClass]="recentTab === 'corporate' ? 'active' : ''">
    <a class="d-flex align-items-center" (click)="routerTo('corporate')">
      <i class="fa fa-building pl-4"></i>
      <span class="px-2">CORPORATE</span>
    </a>
  </li>
  <li [ngClass]="recentTab === 'individual' ? 'active' : ''">
    <a class="d-flex align-items-center" (click)="routerTo('individual')">
      <i class="fa fa-user pl-4"></i>
      <span class="px-2">INDIVIDUAL</span>
    </a>
  </li>
  <li>
    <a class="d-flex align-items-center" (click)="routerTo('setting')">
      <i class="fa fa-cog pl-4"></i>
      <span class="px-2">SETTING</span>
    </a>
  </li>
</ul>