<div>
  <img src="assets/images/logo_odds.png">
</div>
<ul>
  <!-- <li>
    <a routerLink="/"><img src="assets/icon/ic_admin.svg" />Dashboard</a>
  </li> -->
  <li>
    <a routerLink="/income" class="d-flex justify-content-start" routerLinkActive="active">
      <i class="fa fa-money-bill fa-2x mr-2 ml-4 mb-2" aria-hidden="true"></i>INCOME</a>
  </li>
  <li>
    <a routerLink="/admin" class="d-flex justify-content-start">
      <i class="fa fa-user fa-2x mr-2 ml-4 mb-2" aria-hidden="true"></i>ADMIN</a>
  </li>
</ul>