<div>
  <h5 class="mt-2 ms-2">Users</h5>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th class="text-start">Name</th>
        <th>E-mail</th>
        <th>Site</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users ">
          <td>{{user.firstName + ' ' + user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user?.site?.name !== null ? user?.site?.name : '-'}}</td>
          <td class="text-center">
            <app-tool-tip-site [listSources]="sites" [userId]="user?.id"></app-tool-tip-site>
            <a href="javascript:void(0)"  (click)="deleteUser(user?.id)" ><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>