<div>
  <h5 class="mt-2 ml-2">Users</h5>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th class="text-left">Name</th>
        <th>E-mail</th>
        <th>Site</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let users of user ">
          <td>{{users.firstName + ' ' + users.lastName}}</td>
          <td>{{users.email}}</td>
          <td>{{users?.site?.name !== null ? users?.site?.name : '-'}}</td>
          <td class="text-center">
            <app-tool-tip-site [listSources]="sites" [userId]="users?.id"></app-tool-tip-site>
            <a href="javascript:void(0)"  (click)="deleteUser(users?.id)" ><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>