<div>
  <h5 class="mt-2 ml-2">Users</h5>
  <div class="">
     <table class="table">
       <thead>
         <th class="text-left">ชื่อ</th>
         <th>E-mail</th>
         <th>Site</th>
         <th></th>
       </thead>
       <tbody>
         <tr *ngFor="let users of user ">
           <td>{{users.firstName + ' ' + users.lastName}}</td>
           <td>{{users.email}}</td>
           <td>{{users?.sites?.name !== null ? users?.sites?.name : '-'}}</td>
           <td  class="text-center">
             <a href="javascript:void(0)">
              <i class="fa fa-edit"></i>
             </a>
            </td>
         </tr>
       </tbody>
     </table>
  </div>
</div>
