<div class="table-responsive">
  <table class="table table-hover" *ngIf="ListData; else ContentLoader">
    <thead>
      <tr>
        <th class="text-left pl-4">Name</th>
        <th class="text-left">E-mail</th>
        <th class="text-left">Account Name</th>
        <th class="text-center">Account Number</th>
        <th class="text-left">Submit Date</th>
        <th class="text-center status-sort" (click)="setOrder()">
          Status <i [ngClass]="swapArrowIconSort ? 'fa fa-caret-up' : 'fa fa-caret-down'"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left pl-4">{{ ListData[0].user?.firstName + ' ' + ListData[0].user?.lastName }}</td>
        <td class="text-left">{{ ListData[0].user?.email }}</td>
        <td class="text-left">{{ ListData[0].user?.bankAccountName }}</td>
        <td class="text-center">{{ ListData[0].user?.bankAccountNumber }}</td>
        <td class="text-left">
          {{
          ListData[0]?.submitDate == ""
          ? "-"
          : (ListData[0]?.submitDate | date: "dd/MM/yyyy HH:mm:ss")
          }}
        </td>
        <td class="text-center" appStatusHighlight [Status]="ListData[0]?.status">
          {{ ListData[0]?.status === "Y" ? "Submited" : "Non-Submited" }}
        </td>
      </tr>
      <tr *ngFor="let listData of ListData | slice : 1 : ListData.length | orderBy: order:swapArrowIconSort:'case-insensitive'">
        <td class="text-left pl-4">{{ listData.user?.firstName + ' ' + listData.user?.lastName }}</td>
        <td class="text-left">{{ listData.user?.email }}</td>
        <td class="text-left">{{ listData.user?.bankAccountName }}</td>
        <td class="text-center">{{ listData.user?.bankAccountNumber }}</td>
        <td class="text-left">
          {{
          listData?.submitDate == ""
          ? "-"
          : (listData?.submitDate | date: "dd/MM/yyyy HH:mm:ss")
          }}
        </td>
        <td class="text-center" appStatusHighlight [Status]="listData?.status">
          {{ listData?.status === "Y" ? "Submited" : "Non-Submited" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #ContentLoader>
  <div *ngIf="isNoData" class="text-center">No data.</div>
  <list-content-loader *ngIf="isShowLoading" [width]="300" [speed]="1" [secondaryColor]="'#F0F0F0'" [primaryColor]="'#A1A1A1'"></list-content-loader>
</ng-template>