<div>
  <div class="d-flex justify-content-between p-3">
    <div>
      <h2>{{ date | date: 'MMMM yyyy'}}</h2>
    </div>
    <div>
      <button type="button" class="btn btn-blue" (click)="exportData()"> export </button>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="text-center">
      <th class="text-left pl-4">ชื่อ-สกุล(อังกฤษ)</th>
      <th class="text-left">E-mail</th>
      <th class="text-left">ชื่อบัญชี</th>
      <th class="text-center">เลขที่บัญชี</th>
      <th class="text-left">วันที่กรอก</th>
      <th class="text-center">สถานะ</th>
    </thead>
    <tbody>
      <ng-template [ngIf]="ListData !== null">
        <tr *ngFor="let listData of ListData">
          <td class="text-left pl-4">{{listData.user?.fullnameEn}}</td>
          <td class="text-left">{{listData.user?.email}}</td>
          <td class="text-left">{{listData.user?.bankAccountName}}</td>
          <td class="text-center">{{listData.user?.bankAccountNumber}}</td>
          <td class="text-left">{{listData?.submitDate == ''? '-' : listData?.submitDate | date:'dd/MM/yyyy'}}</td>
          <td class="text-center" appStatusHighlight [Status]='listData?.status'>
            {{listData?.status === 'Y'? 'กรอกแล้ว' : 'ยังไม่ได้กรอก'}}
          </td>
        </tr>
      </ng-template>
      <tr *ngIf="ListData === undefined">
        <td colspan="6" class="text-center">ไม่มีข้อมูล</td>
      </tr>
    </tbody>
  </table>
</div>