table {
    th {
        background-color:#F5F5F6;
        border-top: 1px solid  #ebebeb;
        border-bottom: 1px solid  #ebebeb;
        color: #4A4A4A;
        font-weight: bold;
    }
    td {
        border-top: 1px solid  #ebebeb;
    }
    th:nth-child(6) {
        width: 120px;
    }
}