<h5 class="ps-4">History</h5>
<div class="d-flex p-3">
  <div class="table-responsive w-100">
    <table id="history-table" class="table table-hover">
      <thead>
        <tr class="tr-hidden">
          <th class="text-start align-middle">Year</th>
          <th class="text-start align-middle">Month</th>
          <th class="text-center align-middle">รายได้ปกติ</th>
          <th class="text-center align-middle">รายได้พิเศษ</th>
          <th class="text-center align-middle" *ngIf="!isNoIndividual">Vat 7%</th>
          <th class="text-center align-middle">Wht 3%</th>
          <th class="text-center align-middle">รายได้สุทธิ</th>
        </tr>
      </thead>
      <tbody id="history-rows" *ngIf="isNoData">
        <tr class="history-row" *ngFor="let item of incomeResponse ">
          <td class="text-start">{{ checkValue(item.lastUpdate | date:'yyyy')}}</td>
          <td class="text-start">{{ checkValue(item.lastUpdate | date:'MMMM')}}</td>
          <td class="text-center">{{ checkValue(item.netIncome) }}</td>
          <td class="text-center">{{ checkValue(item.netSpecialIncome) }}</td>
          <td class="text-center" *ngIf="!isNoIndividual">{{ checkValue(item.vat) }}</td>
          <td class="text-center">{{ checkValue(item.wht) }}</td>
          <td class="text-center">{{ checkValue(item.totalIncome) }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isNoData">
        <tr>
          <td class="text-center" colspan="5">No data.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>