.modal-footer {
    button {
        width: 130px;
        height: 40px;
        background: #21A9E1;
        border-color: #21A9E1;
        border-radius: 8px;
    }
}

.bg-color {
    padding: 7px 22px;
    border: 1px solid #B6D6E4;	
    border-radius: 3px;	
    background-color: #C5E8F7;

    span {
        color: #2C7EA1;	
        font-family: Helvetica;	
        font-size: 16px;	
        line-height: 21px;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
