.modal-footer {
    button {
        width: 130px;
        height: 40px;
        background: #21A9E1;
        border-color: #21A9E1;
        border-radius: 8px;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}