<div>
  <div class="d-flex justify-content-between pb-3 px-3" *ngIf="showIncomeExport">
    <div class="d-flex align-items-end">
      <h2 class="mb-0">{{ date | date: 'MMMM yyyy'}}</h2>
    </div>
    <div class="row col-7 d-flex text-end">
      <div class="dropdown">
        <button class="rounded export-container"><a href="javascript:void(0)">Export</a> <i
            class="fa fa-caret-down"></i> </button>
        <div class="dropdown-content">
          <a href="javascript:void(0)" (click)="exportCsvCurrentMonth()">Export CSV เดือนปัจจุบัน</a>
          <a href="javascript:void(0)" (click)="exportCsvPreviousMonth()">Export CSV เดือนที่แล้ว</a>
          <a href="javascript:void(0)" (click)="exportCsvByMonth()">Export CSV ระบุเดือน</a>
          <a href="javascript:void(0)" (click)="exportSapCurrentMonth()">Export SAP เดือนปัจจุบัน</a>
          <a href="javascript:void(0)" (click)="exportSapPreviousMonth()">Export SAP เดือนที่แล้ว</a>
          <a href="javascript:void(0)" (click)="exportCsvIncomeFromTimesheetCurrentMonth()">Export CSV Timesheet เดือนปัจจุบัน</a>
        </div>
      </div>
    </div>
  </div>
  <app-table-list [ListData]="listIncomeIndividual"></app-table-list>
</div>
