<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'MODAL.CONFIRM_INCOME.HEADER' }}</h4>
    <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-sm-5">

    <div class="row">
        <div class="col-12 content-container">
            <div class="row row mb-3">
                <div class="col col-2"></div>
                <div class="col col-10 detail"><strong>{{ 'MODAL.CONFIRM_INCOME.TITLE'  }}</strong></div>

            </div>
            <div class="row mb-2">
                <div class="col col-2"></div>
                <div class="col col-3">{{ 'MODAL.CONFIRM_INCOME.NET_INCOME' }}</div>
                <div class="col col-5 text-right">{{ calculateIncomeModel.totalIncome | number: '1.2-2' }}</div>
                <div class="col col-2"></div>
            </div>

            <div class="row mb-2">
                <div class="col col-2"></div>
                <div class="col col-3">{{ 'MODAL.CONFIRM_INCOME.VAT' }}</div>
                <div class="col col-5 text-right">{{ calculateIncomeModel.vat | number: '1.2-2' }}</div>
                <div class="col col-2"></div>
            </div>
            <div class="row mb-2">
                <div class="col col-2"></div>
                <div class="col col-3">{{ 'MODAL.CONFIRM_INCOME.WHT' }}</div>
                <div class="col col-5 text-right">{{ calculateIncomeModel.wht | number: '1.2-2' }}</div>
                <div class="col col-2"></div>
            </div>
            <div class="row mb-2">
                <div class="col col-2"></div>
                <div class="col col-3 border-total">{{ 'MODAL.CONFIRM_INCOME.TOTAL_INCOME' }}</div>
                <div class="col col-5 border-total text-right"><strong>{{ calculateIncomeModel.netIncome | number: '1.2-2'}}</strong>
                    {{ 'BATH'  }}</div>
                <div class="col col-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-gray" (click)="onCancelPress()">
        {{ 'MODAL.CONFIRM_INCOME.NO_OK' }}
    </button>
    <button type="button" class="btn btn-green" (click)="onConfirmPress()">
        {{ 'MODAL.CONFIRM_INCOME.OK' }}
    </button>
</div>