.modal-footer {
    button {
        height: 41px;	
        width: 80px;	
        border-radius: 8px;	
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }

    .button {
        padding: 10px 0;
        border-style: solid;
        border-width: 1px;	
        width: 80px;	
        font-family: Helvetica;	
        font-size: 18px;	
        line-height: 22px;	
        text-align: center;
        &.blue {
            border-color: #008D45;
            background-color: #00A651;
            color: #F8FBFF;
        }
        &.red {
            border-color: #ebebeb;
            background-color: #ebebeb;
            color: #373E4A;	
        }
    }
}

.modal-footer>:not(:last-child) {
    margin-right: 10px;
}

.modal-footer>:not(:first-child) {
    margin-left: 10px;
}

.detail {
    padding-bottom: 8px!important;
    strong {
        font-size: 20px;
    }
}

.col {
    padding: 8px 0;
}

.border-total {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}