.detail {
    padding-bottom: 8px!important;
    strong {
        font-size: 20px;
    }
}

.col {
    padding: 8px 0;
}

.border-total {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}