<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Income</h4>
    <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-sm-5">
    <div class="py-2 bg-color">
        <div class="text-blue"><strong>ตัวอย่าง</strong></div>
        <div class="text-blue">น้อง A ทำงานได้เงินวันละ 100 บาท ทำงาน 20 วัน กรอก "2000" นะ</div>
    </div>
    <div class="form-group my-2">
      <label>รายได้ :</label>
      <input type="number" style="text-align:right" class="form-control" (input)="inputIncomeAmount($event.target.value)">
    </div>
    <div class="form-group">
      <label>บันทึก :</label>
      <textarea type="text" class="form-control"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-blue" (click)="submit()" [disabled]="disibleButton()">Submit</button>
  </div>