<div>
  <p>
    <ngb-alert type="success" *ngIf="showSuccessMessage" [dismissible]="false">{{ successMessage }}</ngb-alert>
  </p>
  <div class="container">
    <form [formGroup]="fileForm">
      <div class="row">

        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload Transcript</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <button class="btn upload-btn" type="button">Choose file...</button>
              <input formControlName="transcriptFile" type="file" accept="application/pdf" (change)="onChangeTranscriptFile($event)" />
              <span class="avatar-file-name prepend-left-default">
                {{ getTranscriptFile.fileName }}
              </span>
            </div>
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
          <hr>
          <button id="btn-edit" type="button" class="btn button-red">Remove Transcript</button>
        </div>

        <div class="col-lg-6">
          <h5 class="prepend-top-0">Upload new avatar</h5>
          <div class="prepend-top-5 append-bottom-10">
            <div class="upload-file-wrapper">
              <button class="btn" type="button">Choose file...</button>
              <input formControlName="imageFile" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onChangeImageFile($event)" />
              <span class="avatar-file-name prepend-left-default">
                {{ getImageFile.fileName }}
              </span>
            </div>
            <!-- <button class="btn" type="button">Choose file...</button>
            <span class="avatar-file-name prepend-left-default">No file chosen</span> -->
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
          <hr>
          <button id="btn-edit" type="button" class="btn button-red">Remove Avatar</button>
        </div>

      </div>
      <hr>
    </form>

    <form class="edit-user prepend-top-default" [formGroup]="profileForm">
      <div class="row">

        <div class="col-lg-4 profile-settings-sidebar">
          <h4 class="prepend-top-0">
            Main settings
          </h4>
          <p>
            This information will appear on your profile.
          </p>
        </div>

        <div class="col-lg-8">
          <div class="row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="firstName">
            </div>
            <div class="col-md-6">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="lastName">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Email</label>
              <input class="form-control" type="text" formControlName="email" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Bank Account</label>
              <input class="form-control" type="text" formControlName="bankAccount">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Bank Account Number</label>
              <input class="form-control" type="text" formControlName="bankAccountNumber">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Slack Account</label>
              <input class="form-control" type="text" formControlName="slackAccount">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Site</label>
              <app-drop-down [defaultSelect]="site" [listSources]="dataListSite"></app-drop-down>
            </div>
          </div>

          <hr>
          <div class="prepend-top-default append-bottom-default inner">
            <button class="btn button-green" (click)="updateData()">Update profile settings</button>
            <button class="btn" (click)="goHome()" style="float: right;">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
