<div class="container">
  <div class="content" id="content-body">
    <form class="edit-user prepend-top-default" role="form">
      <div class="row">

        <div class="col-lg-4 profile-settings-sidebar">
          <h5 class="prepend-top-0">Upload Transcript</h5>
          <div class="prepend-top-5 append-bottom-10">
            <button class="btn" type="button">Choose file...</button>
            <span class="avatar-file-name prepend-left-default">No file chosen</span>
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
          <hr>
          <button id="btn-edit" type="button" class="btn button-red">Remove Transcript</button>
        </div>

        <div class="col-lg-8">
          <div class="clearfix avatar-image append-bottom-default">
            <a target="_blank" rel="noopener noreferrer" href="assets/images/odds_logo_white.png">
              <img src="assets/images/odds_logo_white.png" alt="odds" style="width:150px">
            </a>
          </div>
          <h5 class="prepend-top-0">Upload new avatar</h5>
          <div class="prepend-top-5 append-bottom-10">
            <button class="btn" type="button">Choose file...</button>
            <span class="avatar-file-name prepend-left-default">No file chosen</span>
          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
          <hr>
          <button id="btn-edit" type="button" class="btn button-red">Remove Avatar</button>
        </div>

      </div>
      <hr>
    </form>

    <form class="edit-user prepend-top-default" role="form">
      <div class="row">

        <div class="col-lg-4 profile-settings-sidebar">
          <h4 class="prepend-top-0">
            Main settings
          </h4>
          <p>
            This information will appear on your profile.
          </p>
        </div>

        <div class="col-lg-8">

          <div class="row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-md-6">
              <label>Last Name</label>
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Email</label>
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Bank Account</label>
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Bank Account Number</label>
              <input class="form-control" type="text">
            </div>
          </div>
          <hr>
          <div class="prepend-top-default append-bottom-default inner">
            <button class="btn button-green">Update profile settings</button>
            <button class="btn" style="float: right;">Cancel</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>