@import 'assets/styles/_custom.scss';

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'HelvethaicaMon', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2{
  font-size: 20px;
}
button{
    width: 100px;
    height: 36px;
  }