.breadcrumb {
    padding: 0 0;
    font-size: 14px;
    color: #8b909d;
    margin: 0;
    background-color: white;
  
    a,
    span {
      font-size: inherit;
      color: #8b909d;
    }
  
    .active {
      color: #202632;
    }
  }