.font-middle{
  font-size: 13px;
}

.change--positive {
  color: #00a651;
}

.change-negative {
  color: #ee4749;
}

.btn-blue {
  color: #fff;
  background-color: #21a9e1;
  border-color: #1c99cd;

  &:hover {
    background-color: #044b69;
    border-color: #044b69;
  }
}

.btn-green {
  color: #fff;
  background-color: #00A651;
  border-color: #008D45;

  &:hover {
    background-color: #016d35;
    border-color: #016d35;
  }
}

.btn-red {
  color: #fff;
  background-color: #EE4749;
  border-color: #B62020;
}

.btn-gray {
  color: #373E4A;
  background-color: #EBEBEB;
  border-color: #EBEBEB;

  &:hover {
    color: #373E4A;
    background-color: #919090;
    border-color: #919090;
  }
}
.btn-close{
  width: auto !important;
}
.modal-header {
  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }

  .close {
    span {
      font-size: 26px;
    }
  }
}

.tab-bar {
  position: fixed;
  background: #303641;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: calc(100% - 82%);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main-panel {
  padding: 20px;
  position: relative;
  float: right;
  width: calc(100% - 18%);
}

.card-container {
  margin-bottom: 30px;
  border: 1px solid #DBDBDB;
  background: white;
  border-radius: 4px;
}

.export-container {
  background-color: white;
  border: 0.5px solid #147fb8;
  a {
    // padding: 0 0 0 10px;
    color: #147fb8;
  }
  i {
    padding: 0 5px;
  }
}