.change--positive {
  color: #00a651;
}
.change-negative {
  color: #ee4749;
}
.btn-blue {
  color: #fff;
  background-color: #21a9e1;
  border-color: #1c99cd;
}
.btn-green {
  color: #fff;
  background-color: #00A651;
  border-color: #008D45;
}
.btn-red {
  color: #fff;
  background-color: #EE4749;
  border-color: #B62020;
}
.btn-gray {
  color: #373E4A;
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

.modal-header {
  .modal-title {
      font-size: 18px;
      font-weight: bold;
  }

  .close {
      span {
          font-size: 26px;
      }
  }
}