<div>
  <div *ngIf="showMessage">
    <app-message-tooltip></app-message-tooltip>
  </div>
  <div class="d-flex justify-content-between pb-2 px-2">
    <div class="d-flex align-items-end">
      <h5 class="mt-2 ml-2">Invoice</h5>
    </div>
    <div>
      <button class="btn btn-blue" type="button" (click)="onAdd()">Add</button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <th class="text-left">Invoice No.</th>
        <th>Amount</th>
        <th></th>
      </thead>
      <tbody *ngIf="invoiceData?.length !== 0">
        <tr *ngFor="let data of invoiceData">
          <td>
            {{data?.invoiceNo}}
          </td>
          <td>{{formatCurrency(data?.amount)}}</td>
          <td>
            <a class="edit-link" href="javascript:void(0)" (click)="onEditInvoice(data?.id)">Edit</a>
            <span class="d-mark">|</span>
            <a class="edit-link" href="javascript:void(0)" (click)="onDeleteInvoice(data?.id)">Delete</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="invoiceData?.length === 0">
        <tr>
          <td colspan="100%" class="text-center text-danger">
            No data.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #templateModal>
  <div class="modal-header">
    <h4 *ngIf="!updateFlag" class="modal-title" id="modal-basic-title">Add Invoice</h4>
    <h4 *ngIf="updateFlag" class="modal-title" id="modal-basic-title">Edit Invoice</h4>
    <button type="button" class="close btn-close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-sm-5">
    <form [formGroup]="fg">
      <div class="form-group my-2">
        <label>Invoice No.</label>
        <input id="invoiceNo" type="text" class="form-control" formControlName="invoiceNo">
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input id="amount" type="text" class="form-control text-right" formControlName="amount">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!updateFlag" id="btn-submit" type="button" class="btn btn-blue" (click)="onSubmit()">Submit</button>
    <button *ngIf="updateFlag" id="btn-submit" type="button" class="btn btn-green" (click)="onUpdate()">Update</button>
  </div>
</ng-template>